extends layout

block content
  h1= title
  h2=title1
  p Hypot applied to #{a} is #{b}
  h2=title2
  p Ceil applied to #{a} is #{c}
  h2=title1
  p Clz32 applied to #{a} is #{d}


//- var computationRouter = require('./routes/computation');

//-   app.use('/computation', computationRouter);